@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor0: #FFFFFF;
    --cor1: #67734F;
    --cor2: #A69281;
    --cor3: #260101;
    --cor4: #403131;
    --cor5: #F2F2F2;
    
    --fonte-padrao: 'Montserrat', sans-serif;
    --fonte-destaque: 'Pridi', serif;
}

body {
    background-color: F2F2F2;
    font-family: var(--fonte-padrao);
    height: 100vh;
}

header {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: white;
    align-items: center;
    transition: 0.1s;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    font-family: var(--fonte-destaque);
}

nav ul {
    display: flex;
    list-style: none;
}

nav li + li {
    margin-left: 30px;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}

main {
    font-family: var(--fonte-destaque);
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
}

main p {
    font-size: 1em;
    line-height: 2em;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 1 1;
    justify-content: center;
    align-items: center;
}

.container div {
    flex: 1 1 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: var(--cor1);
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 0.855em;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
